@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito&display=swap');

:root{
    --light-color: #fff;
    --dark-color: #282828;
    --header-height: 120px;
    --search-height: 50px;
    --border-color: #ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--light-color);
    overflow: hidden;
}

.container {
    
    text-align: center;

}

header {
    height: var(--header-height);
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--light-color);
    gap: 10px;
    padding-left: 20px;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
}

header img {
    filter: invert(1);  
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--search-height);
    gap: 10px;
    box-shadow: 0px 2px 8px 0px var(--border-color);
}

.search input[type ="text"] {
    padding: 8px 10px;
    line-height: 1.5;
    font-size: 1rem;
    border: none;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid transparent;
    outline: none;
    transition: all 200ms ease-in-out;
    width: 60%;
}

.search input[type ="text"]:focus {
    border-left-color: transparent;
    border-bottom-color: var(--border-color);
    width: 61%;
}

.button {
    padding: 8px 10px;
    background: transparent;
    border-radius: 2px;
    user-select: none;
    font-size: 1rem;
    border: 1px solid #007bff;
    cursor: pointer;
}

.button:hover {
    background: #007bff;
    border-color: var(--dark-color);
    color: var(--light-color);
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#recipe-container {
   
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: calc(100vh - var(--header-height) - var(--search-height));
    overflow: hidden;
    overflow-y: auto;
}

.recipe {
    height: 250px;
    width: 250px;
    box-shadow: 0px 0px 8px 2px rgb(23, 24, 23);
    margin: 20px;
    transition: all 200ms ease-in-out;
    border-radius: 8px 8px 0px 0px;
}

.recipe-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}

.recipe-image {
    height: 210px;
}

.recipe-image img {
    height: 100%;
    width: 100%;
}

.recipe-text {
    height: 120px;
    display: none;
    opacity: 0;
    transition: all 200ms ease-in-out;
    background-color: #ccc;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: auto;
    transform: scale(.8);
    transform-origin: top left;
}

.recipe-text ul {
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
    padding: 5px;
}

.recipe-text ul > li {
    padding: 5px;
}

.recipe:hover {
    height: 300px;
}

::selection {
    color: var(--light-color);
    background: #237e79;
}

#loading {
    background: url(images/89.gif) no-repeat center center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.hide{
    display: none ;
}

@media only screen and (max-width: 700px){
    body {
        background:#5ea1ec;
    }
}

.heart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 40px;
    padding: 0;
   
}

.heart-button .fas {
    color: #ff6347;
    display: none;
}

.heart-button.clicked .fas {
    display: block;
}

.social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .social-media li {
    margin: 0 10px;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip:hover::after {
    content: attr(title);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .tooltip:hover::before {
    content: "";
    position: absolute;
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  .tooltip:hover::before {
    opacity: 1;
  }
  
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
  }
  
  /* Close button styles */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .button-group {
    display: flex;
    margin-left: auto;
  }

  .button-group button {
    background-color: #aaa;
    color: #000;
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
    
  }

  #about-button:hover,
  #contact-button:hover,
  #feedback-button:hover {
    background-color: #4e8380;
  }

  

